.filter {
    margin-top: 30px;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    &__select {
        margin: 0 20px;
        width: 130px;
        border-radius: 3px;
        color: #a7abb5;
        border: 2px solid #a7abb5;
        background-color: $main-color;
        > option {
            color: #a7abb5;
        }
    }
}
#pages {
    width: 70px;
}